[project]
	description = Test for the Git and Gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bobCfeng
[access "refs/for/refs/*"]
	read = group user/bobCfeng
	push = group user/bobCfeng
	label-Code-Review = -2..+2 group user/bobCfeng
	label-Verified = -1..+1 group user/bobCfeng
	rebase = group user/bobCfeng
	removeReviewer = group user/bobCfeng
	submit = group user/bobCfeng
[access "refs/heads/*"]
	read = group user/bobCfeng
	create = group user/bobCfeng
	push = +force group user/bobCfeng
	pushMerge = group user/bobCfeng
[access "refs/tags/*"]
	push = +force group user/bobCfeng
	pushTag = group user/bobCfeng
	pushSignedTag = group user/bobCfeng
